<div class="pad-top">
    <form action="/survey" method="POST">
        <h3 class="form-group">Registration Survey</h3>
        {{#each questions}}
            <div class="form-group">
                <label>{{this.text}}</label>
                <input name="{{this.question_id}}" class="form-control" type="text">
            </div>
        {{/each}}
        <input class="btn btn-success" type="submit">
    </form>
</div>